{% extends 'dashboard/index.html.twig' %}

{% block title %}TypeChambre index{% endblock %}

{% block body %}
    <h1>TypeChambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statut</th>
                <th>Ordre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_chambre in type_chambres %}
            <tr>
                <td>{{ type_chambre.id }}</td>
                <td>{{ type_chambre.nom }}</td>
                <td>{{ type_chambre.statut }}</td>
                <td>{{ type_chambre.ordre }}</td>
                <td>
                    <a href="{{ path('app_type_chambre_show', {'id': type_chambre.id}) }}">show</a>
                    <a href="{{ path('app_type_chambre_edit', {'id': type_chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_chambre_new') }}">Create new</a>
{% endblock %}
