{% extends 'base.html.twig' %}

{% block title %}TypeChambre{% endblock %}

{% block body %}
    <h1>TypeChambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_chambre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_chambre.nom }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ type_chambre.statut }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ type_chambre.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_chambre_index') }}">back to list</a>

    <a href="{{ path('app_type_chambre_edit', {'id': type_chambre.id}) }}">edit</a>

    {{ include('type_chambre/_delete_form.html.twig') }}
{% endblock %}
